<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>painel de controle</title>
</head>
<body>
    <div class="dashboard">
        <p>Bem-vindo, <%= username %>!</p>
    </div>
    <div class="imagem">
        <img src="https://img.freepik.com/fotos-premium/cachorrinho-feliz-sorrindo-em-fundo-roxo-isolado_77749-593.jpg?w=996">
    </div>
</body>
</html>