<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <section class="area-login">
        <div class="login">
            <div>
                <img src="https://scontent.fpet3-1.fna.fbcdn.net/v/t39.30808-6/259970969_308569224603673_8472284358332014182_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=2dK_3yNwCMUAX_ABFDs&_nc_ht=scontent.fpet3-1.fna&oh=00_AfBSazWdrlH5-ouL8ct3WlXXKHZYhvLhNtiWlFid5JN7QA&oe=646C4177">
            </div>
                <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
                </form>
                <p>Não tem uma conta? <a href="/register">Registre-se></a></p>
        </div>
    </section>
</body>
</html>