<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <section class="area-register">
        <div class="register">
            <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Registrar</button>
            </form>
            <p>Já tem uma conta?<a href="/">Faça o login</a></p>
        </div>
    </section>
</body>
</html>